* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --back: #14142b;
  --hover_select: rgb(226, 226, 226);
  --violet_acc: rgb(120, 9, 120);
  --unselect_grey: rgb(188, 188, 188);
  --generic_d_grey: rgb(38, 38, 38);
  --card_hover: rgba(119, 148, 221, 0.173);
  --pink_acc: rgba(220, 22, 220, 0.137);
  --light_vio: rgb(117, 41, 178);
}

body {
  font-family: sans-serif;
  list-style: none;
}

li {
  display: inline-block;
}
a {
  text-decoration: none;
  display: inline-block;
}

.con_smoke {
  background-color: #f7f7fc;
}

.flex_spabet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.special {
  font-family: "Share Tech", sans-serif;
}

.header_nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: var(--back);
}

.header {
  /* display: none; */
  color: white;
  text-align: right;
  & ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  & li {
    padding: 8px;
  }
  & a {
    color: white;
    font-size: smaller;
  }
  & span {
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    scale: 1 60%;
    display: inline-block;
  }
  & i {
    font-size: 20px;
  }
}

.nav_bar {
  background-color: whitesmoke;
  /* position: relative; */
  height: 72px;
  & nav {
    display: inline-block;
    height: 72px;
    padding: left;
    vertical-align: top;

    & li {
      height: 100%;
    }

    & li > a {
      height: 72px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      color: rgb(16, 15, 15);
      font-size: 0.95rem;
      border-bottom: 2px whitesmoke solid;
      transition: ease-in-out 0.2s;

      &:hover {
        background-color: var(--hover_select);
        border-bottom: 2px var(--violet_acc) solid;
        transition: ease-in-out 0.2s;
      }
    }
    & span {
      font-size: 1rem;
      font-family: "Share Tech", sans-serif;
    }
  }

  & ul {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }
}

.relative{
  position: relative;
}

.logo {
  display: inline-block;
  padding: 21px 0 21px;
  height: 72px;
  & img {
    height: 30px;
  }
}

#mid_item {
  padding-left: 160px;
}

.arrow {
  position: relative;
  padding-left: 2px;
  padding-right: 2px;
  /* background-color: aqua; */
  & i {
    font-size: 15px;
  }
}

.expand:hover .arrow {
  transform: translate(0, 0px) rotate(180deg);
}

.banner {
  /* width: 100dvw; */
  height: 750px;
}

.main_bg {
  background: url(img/hcltech.webp) no-repeat center/cover;
}
.ban_con {
  margin-top: 100px;
  & p {
    color: white;
    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 20px;
    }
  }
}

.large {
  font-size: 82px;
}
.normal {
  font-size: 24px;
  font-weight: 700;
}

.ban_con > a {
  margin-top: 50px;
  background-color: white;
  color: #601fc0;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  & > i {
    transition: 0.3s;
  }
  &:hover i {
    margin-left: 10px;
    transition: ease-in-out 0.3s;
  }
}

.banner_links {
  position: absolute;
  bottom: 30px;
  & ul li a {
    color: var(--unselect_grey);
    padding: 10px;
    /* background-color: aqua; */
    border-bottom: 2px transparent solid;
    &:focus,
    &:hover {
      color: white;
      border-bottom: 2px white solid;
    }
  }
  & ul li:first-child > a {
    color: white;
  }
}

.news_link {
  position: absolute;
  bottom: 30px;
  right: 100px;
  display: flex;
  flex-direction: column;
}
#mouse {
  position: relative;
  width: 30px;
  height: 40px;
  border: 2px var(--unselect_grey) solid;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#sc_wheel {
  width: 2px;
  height: 5px;
  background-color: var(--unselect_grey);
  animation: sc_wheel 1.5s linear infinite;
}

#d_arrow {
  color: var(--unselect_grey);
}

.news_link:hover #d_arrow {
  transform: translate(0, -5px);
}

.header1 {
  font-size: 40px;
  padding: 40px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}
.card {
  overflow: hidden;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0px 7px 20px rgb(238, 237, 237);
}

.caption {
  width: 320px;
  height: 50%;
  padding: 20px 0;
  margin: 0 auto;
  color: var(--generic_d_grey);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 30px;
  & span {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    /* margin: 40px 0; */
  }
}
.trend_caption{
  height: 60%;
}
.img_con {
  overflow: hidden;
  height: 228px;
}
.news .card {
  width: 380px;
}
.news a:hover {
  & img {
    scale: 1.1;
    transition: ease-in-out 0.3s;
  }
  & > .card {
    background-color: var(--card_hover);
  }
  & .lm div {
    width: 80px;
    transition: ease-in 0.2s;
  }
}
.news img {
  width: 380px;
  transition: ease-in-out 0.35s;
  scale: 1.01;
}
.lm {
  color: var(--violet_acc);
  height: 24px;
  overflow: hidden;
  & div {
    width: 0px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    /* padding-left: 10px; */
    transition: ease-in 0.3s;
  }
  & i {
    vertical-align: top;
    display: inline-block;
    /* padding-left: 5px; */
  }
}
.sliderFoot {
  padding: 50px 0;
}
.sliderBtns {
  overflow: hidden;
  border-radius: 10px;
}
.sliderBtns button {
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 900;
  transition: ease-in 0.2s;
  &:hover {
    background-color: white;
    color: var(--violet_acc);
    transition: ease-in 0.2s;
  }
}

#newsroom {
  width: 92px;
  & a {
    /* display: block; */
    color: var(--generic_d_grey);
  }

  &:hover a {
    color: var(--violet_acc);
  }

  & .decor_line {
    transition: ease-out 0.2s;
    width: 92px;
    height: 1px;
    background-color: var(--generic_d_grey);
  }

  &:hover .decor_line {
    background-color: var(--violet_acc);
    animation: moveRight 1s ease-out 0.1s;
  }
}

.trends {
  height: 800px;
}
.left {
  height: 100%;
  width: 790px;
}
.right {
  height: 100%;
  width: 380px;
}

.trends .card {
  width: 380px;
  height: 100%;
}

.card_con a {
  height: 600px;
}
.trends a:hover {
  & img {
    scale: 1.1;
    transition: linear 0.3s;
  }
  & > .card {
    background-color: var(--card_hover);
  }
  & .lm div {
    width: 80px;
    transition: ease-in 0.2s;
  }

  & .ra div {
    width: 120px;
  }

  & .ju div {
    width: 160px;
  }
  & .ju2 div {
    width: 180px;
  }
}

.ju,
.ju2 {
  font-size: 1.2rem;
}

.trends img {
  width: 380px;
  transition: linear 0.3s;
  scale: 1.01;
}

.live {
  height: 600px;
  flex-direction: column;
}

.live a {
  height: 280px;
}

.live a:hover .smallCard {
  background: linear-gradient(120deg, #5f16b8 10%, #3e92fa 90%);
  & p,
  & span,
  & i {
    color: white;
  }
}

.smallCard {
  padding: 30px 40px;
  background-color: var(--card_hover);
  & span {
    background: linear-gradient(45deg, #64a7f6, #523dce);
    background-clip: text;
    color: transparent;
    display: block;
    font-size: 28px;
    font-weight: 900;
    margin: 10px 0 30px 0;
  }
  & div {
    padding: 0;
  }
  & i {
    background: linear-gradient(45deg, #64a7f6, #523dce);
    background-clip: text;
    color: transparent;
    padding: 0;
  }
}

.header2 {
  flex-direction: column;
  align-items: flex-start;
  height: 60px;
  color: var(--generic_d_grey);
}

#ex_trends {
  width: 170px;
  & a {
    /* display: block; */
    color: var(--generic_d_grey);
  }

  & .decor_line {
    transition: ease-out 0.2s;
    width: 170px;
    height: 1px;
    background-color: var(--generic_d_grey);
  }

  &:hover a {
    color: var(--violet_acc);
  }

  &:hover .decor_line {
    background-color: var(--violet_acc);
    animation: moveRight 1s ease-out 0.1s;
  }
  &:hover .decor_line {
    background-color: var(--violet_acc);
    animation: moveRight 1s ease-out 0.1s;
  }
}

#eve {
  width: 115px;
  & a {
    /* display: block; */
    color: var(--generic_d_grey);
  }

  & .decor_line {
    transition: ease-out 0.2s;
    width: 115px;
    height: 1px;
    background-color: var(--generic_d_grey);
  }

  &:hover a {
    color: var(--violet_acc);
  }

  &:hover .decor_line {
    background-color: var(--violet_acc);
    animation: moveRight 1s ease-out 0.1s;
  }
  &:hover .decor_line {
    background-color: var(--violet_acc);
    animation: moveRight 1s ease-out 0.1s;
  }
}
.Foot {
  display: flex;
  justify-content: flex-end;
  padding: 61px 0;
}

.purpose_bg {
  background: linear-gradient(140deg, whitesmoke 20%, rgb(107, 176, 255) 90%);
  padding-bottom: 50px;
}
.header3 {
  font-size: 40px;
  flex-direction: column;
  & p {
    padding-top: 50px;
    color: var(--generic_d_grey);
    font-weight: 300;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* display: block; */
  }

  & span {
    padding: 30px 60px;
    text-align: center;
    /* display: block; */
  }
}
.pur {
  display: flex;
  background-color: whitesmoke;
  & img {
    height: 100%;
  }
}

.quote, .test {
  padding: 20px 50px;
  flex-direction: column;
  align-items: flex-start;
  & p {
    color: var(--generic_d_grey);
    padding-top: 20px;
    font-size: 30px;
  }
  & p:last-child {
    padding: 10px 0;
    font-size: 20px;
  }
  & span:first-child {
    font-size: 150px;
    height: 80px;
  }
  & span {
    font-size: 40px;
    font-weight: 900;
  }
  & a {
    font-weight: 700;
    color: var(--violet_acc);
    padding: 20px 0;
    font-size: 20px;
  }
}

#expertise {
  font-size: 30px;
  font-weight: 100;
  color: var(--generic_d_grey);
}

.ex_sub {
  width: 296px;
  height: 400px;
  background-color: #14142b;
  color: white;
  & p {
    padding-top: 20px;
    font-size: 1.05rem;
  }
}
.expertise_con a {
  height: 400px;
  margin-bottom: 50px;
  transition: linear 0.3s;
}
.expertise_con a:hover .ex_sub {
  background: linear-gradient(120deg, #5f16b8 10%, #3e92fa 90%);
}
.expertise_con a:hover {
  & .ex1 div {
    width: 200px;
  }
  & .ex2 div {
    width: 230px;
  }
  & .ex3 div {
    width: 200px;
  }
  & .ex4 div {
    width: 170px;
  }
  & .wrapper2 {
    transition: linear 0.3s;
    padding: 30px 30px 0 30px;
  }
  & img {
    opacity: 0;
  }
  & .animated {
    opacity: 1;
  }
}
.ex1,
.ex2,
.ex3,
.ex4 {
  height: 40px;
  position: absolute;
  bottom: 0;
  color: white;
  & div {
    padding: 0;
    height: 20px;
    width: 0px;
  }
  & p {
    height: 20px;
    font-size: 1.05rem;
    color: white;
    padding: 0;
  }
  & i {
    padding: 0;
  }
}
.wrapper2 {
  position: relative;
  height: 100%;
  padding: 60px 30px 0 30px;
  transition: linear 0.3s;
}
.a_icon {
  position: relative;
  height: 120px;
  & img {
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.animated {
  opacity: 0;
}

.header4 {
  & p {
    padding-top: 20px;
    font-size: 25px;
    width: 700px;
  }
}

.client_card {
  width: 592px;
  /* height: 400px; */
  background-color: var(--hover_select);
  margin-bottom: 80px;
}

.c_name {
  flex-direction: column;
  height: 380px;
  align-items: flex-start;
  padding: 40px 10px 60px 40px;
  & span {
    font-size: 1.2rem;
    display: block;
  }
  & span:nth-child(2) {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
  }
  & span:first-child::after {
    display: block;
    content: "";
    margin-top: 10px;
    width: 50px;
    height: 3px;
    background-color: var(--generic_d_grey);
  }
  & p {
    padding-top: 5px;
  }
}

.c_img {
  height: 380px;
  width: 55%;
  overflow: hidden;
  display: block;
  & img {
    height: 100%;
    transition: ease-in-out 0.3s;
  }
}

.watch {
  background-color: var(--pink_acc);
  padding: 20px;
  font-size: 18px;
  border-radius: 5px;
  transition: linear 0.3s;
  position: relative;
  z-index: 30;

  & i {
    display: inline-block;
    padding-right: 10px;
  }
}

.client_card:hover {
  & .watch {
    /* background-color:var(--light_vio);
    background-size: 0%; */
    color: white;
    transition: linear 0.2s;
  }

  & .abg {
    background-color: var(--light_vio);
    transform: scale(4);
    opacity: 1;
    transition: linear 0.6s;
  }

  & img {
    scale: 1.12;
    transition: ease-in-out 0.4s;
  }
}

.a_con {
  position: relative;
  overflow: hidden;
}
.abg {
  position: absolute;
  top: 6px;
  left: 0px;
  width: 60px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  /* background-color: aqua; */
  transition: linear 0.6s;
  transform: scale(0);
  opacity: 0.3;
}
.test_con{
  flex-direction: column;
}
.test_div{
  width: 800px;
  margin-top: 40px;
}
.test{
  border-radius: 10px;
  background-color: white;
  & p{
    font-size: 1.3rem!important;
  }
}
.rounded{
  /* border: 2px black solid; */
  overflow: hidden;
  border-radius: 10px;
}

.test_sp {
  display: inline-block;
  padding-left: 30px;
  & span {
    font-size: 30px !important;
  }
  & p {
    font-size: 1rem !important;
    color: var(--generic_d_grey);
  }
}

.test_lower {
  width: 100%;
  padding: 20px 0;
}
.test_img{
  display: inline-block;
  vertical-align: bottom;
  & img{
    display: block;
    width: 70px;
    border-radius: 10px;
  }
}
.col{
  flex-direction: column;
  background-color: transparent;
}

.test_btns{
  width: 120px;
  display: inline-flex;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px 0;
  & button{
    width: 100%;
    border: none;
    padding: 15px 10px;
    font-weight: 900;
  }

  & button:hover{
    background-color: white;
  }
}

.superbg{
  background: linear-gradient(120deg, #5f16b8 10%, #1774e4 90%);
  padding: 80px 0;
}
.supercharge_links li{
  display: block;
  padding: 15px;

  & a{
    padding: 15px 25px 15px 30px;
    border: 2px white solid;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2rem;
    width: 200px;
    & i{
      padding-left: 2px;
      transition: linear 0.3s;
    }

    &:hover i{
      padding-left: 10px;
      transition: linear 0.3s;
    }
  }

}

#contact{
  color: white;
}

#sub{
  background-color: white;
  color: #1774e4;
}
.trend_desc{
  padding: 20px 0;
}

.dropdown{
  display:flex;
  max-height: 0px;
  position: absolute;
  /* right:50%; */
  right: 0;
  bottom: 0;
  transform: translate(0,100%);
  z-index: 1000;
  background-color: white;
  max-width:1200px;
  transition: linear 0.7s;
  overflow: hidden;
  /* padding: 50px; */
}

.dropdown ul{
  /* width: 100%; */
  padding: 30px;
  display: flex;
  align-items: flex-start;
  & li{
    & a{
      width: 275px;
      margin: 0 5px;
      border: none;
      height: 40px;
    }
    & a:hover{
      background-color: transparent;
      border: none;
    }
  }
}

.dropLink:hover{
  & + .dropdown{
    transition: linear 0.7s;
    max-height: 900px;
  }
}

.dropdown:hover, .dropdown ul:hover, .dropdown a:hover .dropdown{
  max-height: 900px;
}

@keyframes sc_wheel {
  25% {
    transform: translate(0, 5px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveRight {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

